@font-face {
  font-family: norse-bold;
  src: url(assets/Norse-Bold.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}



.background {
  background: no-repeat url("assets/img1.avif");
  height: 100vh;
  background-size: cover;
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.logo {
  font-size: 7rem;
  font-family: norse-bold;
  position: absolute;
  top: calc(100% / 3 - 133px);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.credits p {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}

.credits p a {
  text-decoration: underline;
  color: #fff;
}

.logo img {
  height: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form-container1 {
  background-color: #f9fafb;
  height: calc(100% / 3);
  width: 100%;
  position: relative;
}

.form-text {
  width: 70%;
  position: absolute;
  top: 40%;
  left: 5rem;
}

.form-text p {
  margin-top: 1rem;
}

.form-line1,
.form-line2,
.form-line3 {
  display: flex;
  justify-content: space-between;
}



.form-container2 {
  height: calc(100% / 3);
  background-color: #fff;
  width: 50%;
  margin-left: 5rem;
}


.form-container2 h3 {
  margin-top:1rem;
  margin-bottom:1rem ;
}

.form-container2 input {
  margin-bottom:0.8rem ;
  border:1px solid #E5E7EB;
  border-radius: 3px;
}

.form-container2 label {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

.form-container2 form input:focus{
  border:1px solid  lightblue;
  text-shadow: 0.3px 0.3px #000;
  outline: none;
}

.userAccount input {
  background-color: #596D48;
  color:#fff;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  cursor: pointer;
  border:none;
  font-weight: bold;
  margin-left: 5rem;;
  margin-top:2rem;
}


.userAccount p {
  margin-left: 5rem;;
  margin-top:2rem;
}

.userAccount a {
  text-decoration: none;
}

